n8n-workflows/Initialize OpenWA Session.json
{
  "name": "Initialize OpenWA Session",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        976,
        208
      ],
      "id": "bdb23c8b-7cd3-4ca3-a572-e793f2eee3ee"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "http://openwa-api:2785/api/sessions",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "name",
              "value": "ananse-whatsapp"
            }
          ]
        }
      },
      "name": "Register Session Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1184,
        208
      ],
      "id": "4829f7fe-375e-4272-9214-16a1c6a6c260",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=http://openwa-api:2785/api/sessions/{{ $json.id }}/webhooks",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"url\": \"https://auto.ananselabs.org/webhook/openwa-events\",\n  \"events\": [\n    \"message.received\",\n    \"session.status\"\n  ]\n}"
      },
      "name": "Set Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1376,
        208
      ],
      "id": "6560e06f-0a04-4647-b5ef-f5fd6714e1a0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=http://openwa-api:2785/api/sessions/{{ $('Register Session Config').item.json.id }}/start",
        "options": {}
      },
      "name": "Start Session Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1584,
        208
      ],
      "id": "585819c8-c57a-4c18-829f-35100fd4b77b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "http://openwa-api:2785/api/sessions",
        "options": {}
      },
      "name": "GET Sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1184,
        400
      ],
      "id": "dfd45425-2945-4b5d-a4d8-a9f3bb75787a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "DELETE",
        "url": "=http://openwa-api:2785/api/sessions/{{ $json[0].id }}",
        "options": {}
      },
      "name": "DELETE Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1376,
        400
      ],
      "id": "63f77523-8804-4003-9437-5d9b79daf553",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Register Session Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Session Config": {
      "main": [
        [
          {
            "node": "Set Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook": {
      "main": [
        [
          {
            "node": "Start Session Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sessions": {
      "main": [
        [
          {
            "node": "DELETE Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "19fb48b0-0a17-40c7-a002-95469820e801",
  "meta": {
    "instanceId": "b2f956939b829ecd781ac6086c8ae143b4bbfb4eca22502b8b427c7dcde65c2e"
  },
  "nodeGroups": [],
  "id": "sda4C6vF5opmToDn",
  "tags": []
}