n8n-workflows/OpenWA Auto-Reconnect & SMS Pairing Code.json
{
  "name": "OpenWA Auto-Reconnect & SMS Pairing Code",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        144
      ],
      "id": "10058c28-6c12-4920-b882-d6f59f9ae63c"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.data.status}}",
        "rules": {
          "rules": [
            {
              "value2": "disconnected"
            },
            {
              "value2": "qr_ready",
              "output": 1
            }
          ]
        }
      },
      "name": "Route by Session Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "id": "be9cb38e-012f-4448-8f89-76d2f757b16f"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{'http://openwa-api:2785/api/sessions/' + $json.body.sessionId + '/start'}}",
        "options": {}
      },
      "name": "Reconnect Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5841c451-7871-4787-bf12-5728d6c29cd6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "={{'http://openwa-api:2785/api/sessions/' + $json.body.sessionId + '/pairing-code'}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phoneNumber",
              "value": "2330256012271"
            }
          ]
        }
      },
      "name": "Request Pairing Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "dec8d6bd-0bb7-4242-84bc-dde59e20c537",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "https://api.bulkclix.com/api/v1/sms-api/send",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"sender_id\": \"fd948063-3902-428f-8063-f176a964fd81\",\n    \"message\": \"WARNING!! Pleasse ignore if you did not request this. Your pairing code for whatsapp is: {{ $json.pairingCode }}\",\n    \"recipients\": [\"{{ $('Request Pairing Code').params.bodyParametersUi.parameter[0].value }}\"]\n}"
      },
      "name": "Send SMS via BulkClix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        208,
        208
      ],
      "id": "876c7d05-d618-4d39-8cb0-24ae915ecd2b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JOClA1VmR7jCMwvO",
          "name": "Header Auth BulkClix 3"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.ananselabs.org",
            "user-agent": "OpenWA-Webhook/1.0.0",
            "content-length": "347",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "153.67.73.26",
            "cf-ipcountry": "GH",
            "cf-ray": "a1810cc26dab67d4-JNB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "6baa49a5-7d74-42a6-a245-48360a0c6770",
            "connection": "keep-alive",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "153.67.73.26",
            "x-forwarded-proto": "https",
            "x-openwa-delivery-id": "dlv_14c45868-88b3-4aee-ae68-af092f5c25db",
            "x-openwa-event": "session.status",
            "x-openwa-idempotency-key": "sess_4a9ce627-2f50-4001-b262-eb91f4227a5e_qr_ready_2026-07-08T18:11:09.555Z",
            "x-openwa-retry-count": "0"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "session.status",
            "timestamp": "2026-07-08T18:11:09.555Z",
            "sessionId": "4a9ce627-2f50-4001-b262-eb91f4227a5e",
            "idempotencyKey": "sess_4a9ce627-2f50-4001-b262-eb91f4227a5e_qr_ready_2026-07-08T18:11:09.555Z",
            "deliveryId": "dlv_14c45868-88b3-4aee-ae68-af092f5c25db",
            "data": {
              "sessionId": "4a9ce627-2f50-4001-b262-eb91f4227a5e",
              "status": "qr_ready"
            }
          },
          "webhookUrl": "https://auto.ananselabs.org/webhook/openwa-events",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Session Status": {
      "main": [
        [
          {
            "node": "Reconnect Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Pairing Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Pairing Code": {
      "main": [
        [
          {
            "node": "Send SMS via BulkClix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d471d40-d318-4648-af58-4cb7f5574872",
  "meta": {
    "instanceId": "b2f956939b829ecd781ac6086c8ae143b4bbfb4eca22502b8b427c7dcde65c2e"
  },
  "nodeGroups": [],
  "id": "vGR9rLcFqMm6Pug6",
  "tags": []
}