n8n-workflows/OpenWA Master Router.json
{
  "name": "OpenWA Master Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openwa-events",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        112
      ],
      "id": "c86ce5df-86a7-4828-8b56-16db6dd2368e",
      "webhookId": "bf92226b-c035-4249-8c0d-d77c4dc77e82"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.body.event}}",
        "rules": {
          "rules": [
            {
              "value2": "session.status"
            },
            {
              "value2": "message.received",
              "output": 1
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "ebfdc443-36b0-40e7-b344-bdab388d9853"
    },
    {
      "parameters": {
        "workflowId": "vGR9rLcFqMm6Pug6",
        "options": {}
      },
      "name": "Trigger Reconnect",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1e4ccdfb-d982-44d4-aad2-3751f52ee970"
    },
    {
      "parameters": {
        "workflowId": "iPPTbO0rwCuICxjo",
        "options": {}
      },
      "name": "Trigger AI Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "310157ab-0d00-4449-ac0f-5c705d1d306a"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Trigger Reconnect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c144c877-4c2b-40dc-bbcb-dda5866856ec",
  "meta": {
    "instanceId": "b2f956939b829ecd781ac6086c8ae143b4bbfb4eca22502b8b427c7dcde65c2e"
  },
  "nodeGroups": [],
  "id": "dtiCdDHXsEaMpqQf",
  "tags": []
}