n8n-workflows/Test WA.json
{
  "name": "Test WA",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is User Input:\n{{ $json.body.data.body }}\n",
        "options": {
          "systemMessage": "You are a helpful Assistant Ananse. You have access to tools for SMS, Airtime/Data purchases, Food Orders, OTP verification, Contacts management and with coming.\n\n\n\n### Dynamic Capability Discovery & Tool Selection\n\n- If the user's request is ambiguous, uses local slang, or asks about a capability you are unsure of, ALWAYS start by calling the `search` tool with the user's query as the search phrase.\n\n- The `search` tool matches your queries semantically against:\n\n  1. All registered MCP tools and their descriptions.\n\n  2. Registered vendors (merchants) and their categories.\n\n  3. Individual food dishes, services, and menu items.\n\n\n\n### Food & Goods Ordering Instructions\n\n- Before recommending a vendor or placing an order, run `search(query=\"...\")` to locate the exact dishes, vendor IDs, and prices.\n\n- When ordering, use the exact `dish_id` and `vendor_id` returned by the search tool.\n\n- If the user asks \"do you have pizza/rice/chicken?\" or \"what food do you have?\", run a semantic search and return a list of matches including prices and restaurant names.\n\n\n\n### Conversational Rules\n\n1. Keep replies concise and clean, optimized for a single WhatsApp message.\n\n2. If a payment is initiated, instruct the user to check their phone for the Mobile Money prompt (USSD popup).\n\n3. If an OTP is sent to the user, wait for them to reply with the code, then call the appropriate verification tool (`pay_verify_otp` for payments or `otp_verify_sms`/`otp_verify_email` for standard OTPs)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "258fd0f1-3643-44b7-a6d1-55cb33188585",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/free",
          "mode": "list",
          "cachedResultName": "openrouter/free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        416
      ],
      "id": "3144468e-8e32-4249-b336-e138abf7a77a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "btXwSHnscNNrj6cV",
          "name": "OpenCHAT account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://tools.ananselabs.org",
        "serverTransport": "sse",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        640,
        400
      ],
      "id": "625643c0-045d-42c8-998e-1668894a2297",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KvEP8EzdZPrAOiQw",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.6,
      "position": [
        288,
        384
      ],
      "id": "c86cd43e-5d46-4670-b2a5-ade30e044abe",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "4qFPvX860BFeHvGu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://openwa-api:2785/api/sessions/{{ $('Webhook').item.json.body.sessionId }}/messages/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.data.from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        0
      ],
      "id": "023df654-d8a7-4013-b17a-1e800cd7cb33",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "7f97a0d5-04f9-4685-a17e-3e760c6d05c7"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5c8e1417-30ed-4efe-9982-55fbf1baa5ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2f956939b829ecd781ac6086c8ae143b4bbfb4eca22502b8b427c7dcde65c2e"
  },
  "nodeGroups": [],
  "id": "iPPTbO0rwCuICxjo",
  "tags": []
}