n8n-workflows/Test WA.json
{
  "name": "Test WA",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is User Input:\n{{ $json.body.data.body }}\n",
        "options": {
          "systemMessage": "You are a helpful Assistant Ananse. You have access to tools for SMS, Airtime/Data purchases, Food Orders, OTP verification, Contacts management and with coming.\n\n### Dynamic Capability Discovery & Tool Selection\n\n- If the user's request is ambiguous, uses local slang, or asks about a capability you are unsure of, ALWAYS start by calling the `search` tool with the user's query as the search phrase.\n\n- The `search` tool matches your queries semantically against:\n\n  1. All registered MCP tools and their descriptions.\n\n  2. Registered vendors (merchants) and their categories.\n\n  3. Individual food dishes, services, and menu items.\n\n### Food & Goods Ordering Instructions\n\n- Before recommending a vendor or placing an order, run `search(query=\"...\")` to locate the exact dishes, vendor IDs, and prices.\n\n- When ordering, use the exact `dish_id` and `vendor_id` returned by the search tool.\n\n- If the user asks \"do you have pizza/rice/chicken?\" or \"what food do you have?\", run a semantic search and return a list of matches including prices and restaurant names.\n\n### Output Format Instructions\n\nYou MUST respond with a valid JSON object matching this schema. Do NOT return any explanation or markdown outside of the JSON:\n{\n  \"text\": \"Your response message text here.\",\n  \"attachments\": [\"url1\", \"url2\"]\n}\nInclude image URLs or attachments returned by search/find_food_items tools in the 'attachments' array if they are relevant to the user request. If there are no attachments, return an empty array [].\n\n### Conversational Rules\n\n1. Keep replies concise and clean, optimized for a single WhatsApp message.\n2. If a payment is initiated, instruct the user to check their phone for the Mobile Money prompt (USSD popup).\n3. If an OTP is sent to the user, wait for them to reply with the code, then call the appropriate verification tool (`pay_verify_otp` for payments or `otp_verify_sms`/`otp_verify_email` for standard OTPs)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        0
      ],
      "id": "2f1a8159-4ff2-4640-9775-20a4fb50ab6e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/free",
          "mode": "list",
          "cachedResultName": "openrouter/free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        416
      ],
      "id": "cba317ab-295a-4088-8061-7d1237a3e277",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "btXwSHnscNNrj6cV",
          "name": "OpenCHAT account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://tools.ananselabs.org",
        "serverTransport": "sse",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        400,
        400
      ],
      "id": "5a6604db-5af5-42b5-a07d-3c52f34ab925",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KvEP8EzdZPrAOiQw",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.6,
      "position": [
        48,
        384
      ],
      "id": "2d3cfd52-3e43-4b2a-b5b4-da229c499fc1",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "4qFPvX860BFeHvGu",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://openwa-api:2785/api/sessions/{{ $('Webhook').item.json.body.sessionId }}/messages/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.data.from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        850,
        100
      ],
      "id": "d9da1bf8-b39a-4810-89f1-945f5f852a7c",
      "name": "Send Text",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    },
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fdc9ac00-a375-4802-a0ab-6414d09412af"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.item.json.output;\nlet parsed = { text: output, attachments: [] };\ntry {\n  let cleanOutput = output.trim();\n  if (cleanOutput.startsWith(\"```json\")) {\n    cleanOutput = cleanOutput.substring(7);\n  }\n  if (cleanOutput.endsWith(\"```\")) {\n    cleanOutput = cleanOutput.substring(0, cleanOutput.length - 3);\n  }\n  parsed = JSON.parse(cleanOutput.trim());\n} catch (e) {\n  parsed = { text: output, attachments: [] };\n}\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "parse-output-id",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.attachments }}",
              "rightValue": "",
              "operator": "notEmpty",
              "type": "string"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "id": "if-has-attachments-id",
      "name": "If Has Attachments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://openwa-api:2785/api/sessions/{{ $('Webhook').item.json.body.sessionId }}/messages/send-file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{ $('Webhook').item.json.body.data.from }}"
            },
            {
              "name": "file",
              "value": "={{ $json.attachments[0] }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.text }}"
            },
            {
              "name": "filename",
              "value": "attachment"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        850,
        -100
      ],
      "id": "send-file-id",
      "name": "Send File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oAHp8tvD9riiKG8g",
          "name": "Header Auth account WA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "If Has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Attachments": {
      "main": [
        [
          {
            "node": "Send File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c90df370-af64-48dd-9cea-5566323322e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2f956939b829ecd781ac6086c8ae143b4bbfb4eca22502b8b427c7dcde65c2e"
  },
  "nodeGroups": [],
  "id": "iPPTbO0rwCuICxjo",
  "tags": []
}